<h1>New Board</h1>

<div class="panel panel-default">
  <div class="panel-heading">Add New Board</div>
  <div class="panel-body">
	<%= render 'form' %>
  </div>
</div>

<%= link_to 'Back', boards_path %>
